
body{

    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
    /* display: flex; */
    text-align: center ;
}

.signup{
    box-sizing: border-box;
    margin:0px;
    padding: 0;
    text-align: center !important;
    display: flex;
    align-items: center;
    display: flex;
    flex: 1;
    
  }
  
  h1{
    padding-top: 20px;
    color: red;
  }
  
  .signup{
    padding-top: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    vertical-align: middle;
    font-weight: bold;
  }
  
  .form{
      /* padding: auto; */
      margin: auto;
  }


  #image{
      width:150px;
      height:150px;
  }
  
  .but{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width:30%;
  }
  
  .signup{
    text-align: center;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
  