@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Sigmar+One&display=swap');

body{
    text-align: center;
    font-family: 'League Spartan', sans-serif  ;
    font-size: 30px;
  
    /* display: flex; */
    text-align: center ;
    
}

/* .signup{
    box-sizing: border-box;
    margin:0px;
    padding: 0;
    text-align: center !important;
    display: flex;
    align-items: center;
    display: flex;
    flex: 1;
    
  } */
  
  h1{
    padding-top: 20px;
    color: red;
  }
  
  /* .signup{
    padding-top: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    vertical-align: middle;
    font-weight: bold;
  } */
  
  .form{
      
      margin: auto;
  }


  #image{
      width:150px;
      height:150px;
  }
  
  .but{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width:25%;
    background-color: black;
    opacity:0.5;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  
  .signup{
    text-align: center;
  }


  .backk{
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* flex-direction: column; */
    align-items: center;
    background-color: black;
    opacity: 0.3;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .inputtext{
      border-radius: 10px;
      background-color:black;
      opacity: 0.3;
      color: white;
  }