.landing{
    width:100vw;
    height:auto;
    display: flex;
    align-items: center;
    padding-right: 50px !important;
    
    
    button{
        flex:0.5;
        width:100%;
        padding: 16px 32px ;
        font-size: 24px;
        margin-right: 50px;
        
        
    }
}