.lobby{
    width:100vw;
    height:auto;
    display: flex;
    margin: auto;
    align-items: center;
    .left{
        flex:0.5;
        display:flex;
        flex-direction: column;
    }

    .right{
        flex:0.5;
        display:flex;
        flex-direction: column;
    }
}
