@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Sigmar+One&display=swap');

body{
    text-align: center;
    font-family: 'League Spartan', sans-serif  ;
    font-size: 30px;
  
    /* display: flex; */
    text-align: center ;
    
}


.back{
    margin-top: 40px;
    border-radius: 10px;
    background-color:black;
      opacity: 0.3;
      color: white;
    cursor: pointer;
    font-family: 'League Spartan' , sans-serif;
    font-weight: bold;
    width: 6%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.but{
    margin-top: 20px;
    border-radius: 10px;
    width: 30%;
    background-color:black;
      opacity: 0.3;
      color: white;
      cursor: pointer;
      font-family: 'League Spartan' , sans-serif;
      padding-top: 5px;
      padding-bottom: 5px;
}

.but:hover{
    width: 40%;
    height: 40%;
}

.back:hover{
    width: 8%;
    height: 8%;
}

.inputt{
    border-radius: 10px;
      background-color:black;
      opacity: 0.3;
      color: white;
      
}