@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Sigmar+One&display=swap');

.tips{
    margin-top: 20px;
    color: black;
    font-weight: bold;
}



ul{
    text-align: center;
    list-style: inside;
    align-items: center;
}

.list{
    text-align: center;
    font-family: 'League Spartan', sans-serif;
}

.lol{
    width:100px;
    height:100px;
    position: relative;
    top: 30px;
}